@media only screen and (max-width: 575px) {
  html {
    font-size: 12px;
  }
  .answer {
    width: 12rem;
    height: 6rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .answer {
    width: 14rem;
    height: 7rem;
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 768px) {
  .answer {
    width: 20rem;
    height: 10rem;
    font-size: 1.5rem;
  }
}
html, button {
  font-family: "Garamond", serif;
}
body {
  text-align: center;
  background-color: #009999;
}
h2 {
  height: 3rem;
}
ol {
  border: 1px solid #121212;
  background-color: tan;
}
li {
  font-size: 1.5rem;
  text-align: left;
  margin: 1rem 0;
}
p {
  font-size: 1.5rem;
}
.question {
  display: block;
}
.answer {
  background-color: #CC7700;
  color: #F0F0F0;
  border: 1px solid #121212;
  margin: 1rem;
  box-shadow: -5px 2.5px 5px #121212;
  cursor: pointer;
}
.answer:hover {
  box-shadow: -10px 5px 10px #121212;
  transform: translate(5px, -2.5px);
}
.q-two, .q-three, .q-four, .q-five, #results {
  display: none;
}
#change-display {
  display: block;
}
#left-arrow, #right-arrow {
  display: inline;
  cursor: pointer;
}
#left-arrow:hover {
  transform: translateX(-5px);
}
#right-arrow:hover {
  transform: translateX(5px);
} 
#current-question {
  display: inline-block;
  position: relative;
  bottom: 1rem;
  width: 10rem;
}
#back-button, #next-button {
  border: none;
  background-color: #009999;
  height: auto;
  width: auto;
}
.animate-sink-in {
  animation: sink-in 1s linear;
  animation-fill-mode: none;
}
@keyframes sink-in {
  to {
    color: #CC7700;
    transform: translate(-5px, 2.5px);
    box-shadow: none;
  }
}
.animate-emerge {
  animation: emerge 1s linear;
  animation-fill-mode: none;
}
@keyframes emerge {
  from {
    color: #CC7700;
    transform: translate(-5px, 2.5px);
    box-shadow: none;
  }
}
.animate-body-color {
  animation: body-color 1s linear;
  animation-fill-mode: forwards;
}
@keyframes body-color {
  to {
    background-color: #CC7700;
  }
}
.animate-finish-quiz {
  animation: finish-quiz 2s linear;
  animation-fill-mode: none;
}
@keyframes finish-quiz {
  to {
    border: none;
    color: #CC7700;
    box-shadow: none;
    transform: translate(-5px, 2.5px);
  }
}
.animate-fade-in {
  animation: fade-in 1s linear;
  animation-fill-mode: none;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
